[data-theme=solarized], .app-theme-picker__picker[data-theme=solarized] {
  --solarized-bg: var(--solarized-base3);
  --solarized-primary: var(--solarized-base01);
  --solarized-secondary: var(--solarized-base0);

  /* Elevation */
  --elevation-1-background: oklch(from var(--solarized-bg) calc(l + 0.005) c h);
  --elevation-2-background: oklch(from var(--solarized-bg) calc(l + 0.01) c h);
  --elevation-3-background: oklch(from var(--solarized-bg) calc(l + 0.015) c h);
  --elevation-4-background: oklch(from var(--solarized-bg) calc(l + 0.02) c h);

  /* Tab bar - deprecated */
  --tabs-item-background--selected: var(--background);

  /* Colors */
  --yellow:  #ad8900;
  --orange:  #c25d1e;
  --red:     #d2212d;
  --magenta: #ca4898;
  --violet:  #8762c6;
  --blue:    #0072d4;
  --cyan:    #009c8f;
  --green:   #489100;
}

@media (prefers-color-scheme: light) {
  [data-theme=solarized-system], .app-theme-picker__picker[data-theme=solarized-system] {
    --solarized-bg: var(--solarized-base3);
    --solarized-primary: var(--solarized-base01);
    --solarized-secondary: var(--solarized-base0);

    /* Elevation */
    --elevation-1-background: oklch(from var(--solarized-bg) calc(l + 0.005) c h);
    --elevation-2-background: oklch(from var(--solarized-bg) calc(l + 0.01) c h);
    --elevation-3-background: oklch(from var(--solarized-bg) calc(l + 0.015) c h);
    --elevation-4-background: oklch(from var(--solarized-bg) calc(l + 0.02) c h);

    /* Tab bar - deprecated */
    --tabs-item-background--selected: var(--background);

    /* Colors */
    --yellow:  #ad8900;
    --orange:  #c25d1e;
    --red:     #d2212d;
    --magenta: #ca4898;
    --violet:  #8762c6;
    --blue:    #0072d4;
    --cyan:    #009c8f;
    --green:   #489100;
  }
}
