[data-theme=solarized-dark], .app-theme-picker__picker[data-theme=solarized-dark] {
  --solarized-bg: var(--solarized-base03);
  --solarized-primary: var(--solarized-base3);
  --solarized-secondary: var(--solarized-base1);

  /* Elevation */
  --elevation-1-background: oklch(from var(--solarized-bg) calc(l + 0.025) c h);
  --elevation-2-background: oklch(from var(--solarized-bg) calc(l + 0.05) c h);
  --elevation-3-background: oklch(from var(--solarized-bg) calc(l + 0.085) c h);
  --elevation-4-background: oklch(from var(--solarized-bg) calc(l + 0.12) c h);

  /* Table - deprecated */
  --table-background: var(--card-background);

  /* Tab bar - deprecated */
  --tabs-item-background--selected: var(--card-border-color);

  /* Render native browser elements in dark mode */
  color-scheme: dark;

  /* Colors */
  --yellow:  #dbb32d;
  --orange:  #ed8649;
  --red:     #fa5750;
  --magenta: #f275be;
  --violet:  #af88eb;
  --blue:    #4695f7;
  --cyan:    #41c7b9;
  --green:   #75b938;
}

@media (prefers-color-scheme: dark) {
  [data-theme=solarized-system], .app-theme-picker__picker[data-theme=solarized-system] {
    --solarized-bg: var(--solarized-base03);
    --solarized-primary: var(--solarized-base3);
    --solarized-secondary: var(--solarized-base1);

    /* Elevation */
    --elevation-1-background: oklch(from var(--solarized-bg) calc(l + 0.025) c h);
    --elevation-2-background: oklch(from var(--solarized-bg) calc(l + 0.05) c h);
    --elevation-3-background: oklch(from var(--solarized-bg) calc(l + 0.085) c h);
    --elevation-4-background: oklch(from var(--solarized-bg) calc(l + 0.12) c h);

    /* Table - deprecated */
    --table-background: var(--card-background);

    /* Tab bar - deprecated */
    --tabs-item-background--selected: var(--card-border-color);

    /* Render native browser elements in dark mode */
    color-scheme: dark;

    /* Colors */
    --yellow:  #dbb32d;
    --orange:  #ed8649;
    --red:     #fa5750;
    --magenta: #f275be;
    --violet:  #af88eb;
    --blue:    #4695f7;
    --cyan:    #41c7b9;
    --green:   #75b938;
  }
}
